{% extends "blog/base.html" %}
{% block content %}
{%for post in posts %}
<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
        </div>
        <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
        <p class="article-content ">{{ post.content }}</p>
    </div>

</article>

{% endfor %}
{% endblock content %}

{% block sidebar %}

<div class="col-md-4">
    <div class="content-section">
        <div class="media">
            <img class="rounded-circle account-img" src="{{ posts.0.author.profile.image.url }}"/>
        </div>
        <span class="media-body">
            <h2 class="account-heading">{{ posts.0.author }}</h2>
            <p class="text-secondary">{{ posts.0.author.email }}</p>
        </span>
    </div>
</div>
{% endblock %}
